.full-screen-container{
  background-color: red;
  height: 100%;
}

.content-container{
  background-color: pink;
  height: 100%;
}

:host ::ng-deep .custom-toolbar {
  background-color: #4f46e5;
  color: white;
}

:host ::ng-deep mat-sidenav mat-icon {
  color: rgba(0, 0, 0, 0.54); /* Default grey color for Material icons */
}
